<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite" parallel="methods" thread-count="5" verbose="1" data-provider-thread-count="5">
    <test name="ApplicationTest">
        <classes>
<!--            <class name="com.example.zxcpractice.sql.TestNGTask1"></class>-->
<!--            <class name="com.example.zxcpractice.sql.TestNGTask2"></class>-->
            <class name="com.example.zxcpractice.sql.threadTest"></class>
        </classes>
    </test>
</suite>


