<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.zxcpractice.repository.EnvironmentInfoMapper">
  <resultMap id="BaseResultMap" type="com.example.zxcpractice.repository.entity.EnvironmentInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="service_line_name" jdbcType="VARCHAR" property="serviceLineName" />
    <result column="service_name" jdbcType="VARCHAR" property="serviceName" />
    <result column="environment_type" jdbcType="TINYINT" property="environmentType" />
    <result column="domain_name" jdbcType="VARCHAR" property="domainName" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updator_name" jdbcType="VARCHAR" property="updatorName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, service_line_name, service_name, environment_type, domain_name, deleted, creator_name, 
    create_time, updator_name, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from environment_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from environment_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.zxcpractice.repository.entity.EnvironmentInfo">
    insert into environment_info (id, service_line_name, service_name, 
      environment_type, domain_name, deleted, 
      creator_name, create_time, updator_name, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{serviceLineName,jdbcType=VARCHAR}, #{serviceName,jdbcType=VARCHAR}, 
      #{environmentType,jdbcType=TINYINT}, #{domainName,jdbcType=VARCHAR}, #{deleted,jdbcType=INTEGER}, 
      #{creatorName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updatorName,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.zxcpractice.repository.entity.EnvironmentInfo">
    insert into environment_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="serviceLineName != null">
        service_line_name,
      </if>
      <if test="serviceName != null">
        service_name,
      </if>
      <if test="environmentType != null">
        environment_type,
      </if>
      <if test="domainName != null">
        domain_name,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="creatorName != null">
        creator_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updatorName != null">
        updator_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="serviceLineName != null">
        #{serviceLineName,jdbcType=VARCHAR},
      </if>
      <if test="serviceName != null">
        #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="environmentType != null">
        #{environmentType,jdbcType=TINYINT},
      </if>
      <if test="domainName != null">
        #{domainName,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="creatorName != null">
        #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatorName != null">
        #{updatorName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.zxcpractice.repository.entity.EnvironmentInfo">
    update environment_info
    <set>
      <if test="serviceLineName != null">
        service_line_name = #{serviceLineName,jdbcType=VARCHAR},
      </if>
      <if test="serviceName != null">
        service_name = #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="environmentType != null">
        environment_type = #{environmentType,jdbcType=TINYINT},
      </if>
      <if test="domainName != null">
        domain_name = #{domainName,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="creatorName != null">
        creator_name = #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatorName != null">
        updator_name = #{updatorName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.zxcpractice.repository.entity.EnvironmentInfo">
    update environment_info
    set service_line_name = #{serviceLineName,jdbcType=VARCHAR},
      service_name = #{serviceName,jdbcType=VARCHAR},
      environment_type = #{environmentType,jdbcType=TINYINT},
      domain_name = #{domainName,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=INTEGER},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updator_name = #{updatorName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>